<h1>Buscar pelo Id</h1>

<?php
$id = $form->get('id');
$id->setAttribute('class', 'form-control');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-success');

$form->setAttribute('action', $this->url('post', ['action' => 'detalhes']));
$form->prepare();

echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($id); ?>
    <?= $this->formElement($id); ?>
</div>

<?php
echo $this->formSubmit($submit);
?>
<a style="margin-left: 10px;"class="btn btn-danger" href="<?= $this->url('post', ['action' => 'index']) ?>">Voltar</a>
<?php
echo $this->form()->closeTag();
?>

