<h1>Editar Tarefa</h1>

<?php 


$title = $form->get('title');
$title->setAttribute ('class','form-control');

$content = $form->get('content');
$content->setAttribute('class','form-control');

$submit = $form->get('submit');
$submit->setAttribute('class','btn btn-success');

$form->setAttribute('action', $this->url('post',['action'=>'edit','id'=>$id]));
$form->prepare();

echo $this->form()->openTag($form);

?>

<div class="form-group">
    <?=$this->formLabel($title);?>
    <?=$this->formElement($title);?>
</div>

<div class="form-group">
    <?=$this->formLabel($content);?>
    <?=$this->formElement($content);?>
</div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
?>
<a style="margin-left: 10px;"class="btn btn-danger" href="<?= $this->url('post', ['action' => 'index']) ?>">Voltar</a>
<?php
echo $this->form()->closeTag();

?>
