<?php $this->headTitle("Gerenciador de Tarefas"); ?>
<h1>Tarefas</h1>

<a href="<?= $this->url('post', ['action' => 'add']) ?>"><button class="btn btn-success">Nova Tarefa</button></a>
<a href="task.json"><button class="btn btn-primary">Ver Json</button></a>
<a href="<?= $this->url('post', ['action' => 'procurar']) ?>"><button class="btn btn-primary">Procurar pelo nome</button></a>
<a href="<?= $this->url('post', ['action' => 'detalhes']) ?>"><button class="btn btn-primary">Procurar pelo id</button></a>


<br><br>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <?php foreach ($posts as $post): ?>
        <tr>
            <td><?= $this->escapeHtml($post->title); ?></td>
            <td><?= $this->escapeHtml($post->content); ?></td>
            <td>
                <a href="<?= $this->url('post', ['action' => 'edit', 'id' => $post->id]) ?>"><button class="btn btn-warning">Editar Tarefa</button></a>
                <a href="<?= $this->url('post', ['action' => 'delete', 'id' => $post->id]) ?>"><button class="btn btn-danger">Deletar Tarefa</button></a>
           </td>
        </tr>
    <?php endforeach; ?>
</table>