<h1>Buscar nome</h1>

<?php
$title = $form->get('title');
$title->setAttribute('class', 'form-control');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-success');

$form->setAttribute('action', $this->url('post', ['action' => 'procurar']));
$form->prepare();

echo $this->form()->openTag($form);
?>

<div class="form-group">
    <?= $this->formLabel($title); ?>
    <?= $this->formElement($title); ?>
</div>

<?php
echo $this->formSubmit($submit);
?>
<a style="margin-left: 10px;"class="btn btn-danger" href="<?= $this->url('post', ['action' => 'index']) ?>">Voltar</a>
<?php
echo $this->form()->closeTag();
?>
